:root {
  --primary: #a15db6;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #6b1b83;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  position: flex;
  z-index: 1100;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-extra a svg {
  stroke: #fff;
}

.navbar .navbar-extra a:hover svg {
  stroke: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar Search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 40rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* shopping Cart */
#shopping-cart-btn {
  position: absolute;
}

#shopping-cart-btn .quantity-bedge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 8px;
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: -15px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 35rem;
  background-color: #fff;
  height: 120vh;
  padding: 0 1.5rem;
  color: var(--bg);
  transition: 0.3s linear;
  overflow-y: auto;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 4rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.4rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: #4a135e;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart .cart-empty {
  display: flex;
  font-size: 3rem;
  color: #eee;
  padding: 4rem 2rem;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.shopping-cart .cart-total {
  border-top: 2px solid var(--bg);
  padding-top: 1rem;
  font-size: 1.8rem;
}

/* Form check out */
.cart-form {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed var(--bg);
  margin-top: 1rem;
  padding: 1rem;
}

.cart-form h5 {
  text-align: center;
  font-size: 1.5rem;
}

.cart-form form {
  width: 100%;
  text-align: center;
}

.cart-form label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.cart-form span {
  text-align: right;
}

.cart-form input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.cart-form .checkout-btn {
  padding: 6px 14px;
  background-color: var(--primary);
  color: var(--bg);
  font-weight: bold;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
}

.cart-form .checkout-btn:hover {
  background-color: var(--bg);
  color: var(--primary);
}

.cart-form .checkout-btn.disabled {
  background-color: #999;
  cursor: not-allowed;
  color: #fff;
}

/* .shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
} */

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 5px 1px 3px rgba(1, 1, 3, 1);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 5px 1px 3px rgba(1, 1, 3, 1);
  line-height: 1.2;
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  text-shadow: 2px 1px 3px rgba(1, 1, 3, 1);
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  color: var(--primary);
  background-color: var(--bg);
}

/* About section + Menu section */

.about,
.menu,
.contact,
.product {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2,
.product h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span,
.product h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 10%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .conten p {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1.8;
  max-width: 25rem;
  max-height: 50%;
}

/* Menu Section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.contact p,
.product p {
  text-align: center;
  max-width: 30rem;
  font-size: 1.3rem;
  margin: auto;
  font-weight: 200;
  line-height: 1.5;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  /* gap: ""; */
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-card img {
  width: 80%;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.menu .row .menu-card .menu-card-title {
  margin-top: 1rem auto 0.5rem;
}

/* Product Section */
.product .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.product .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.product .product-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.product .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.product .product-img {
  padding: 1rem 0;
}

.product .product-img img {
  height: 25rem;
}

.product .product-content h3 {
  font-size: 2rem;
}

.product .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.product .product-stars .star-full {
  fill: var(--primary);
}

.product .product-price {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #745e7c;
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: qpx solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #010101;
  cursor: pointer;
  border-radius: 50%;
}

.contact .row form .btn:hover {
  background-color: #fff;
  color: #745e7c;
}

/* Footer */
footer {
  background-color: #4a135e;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.3rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .links a:hover {
  color: var(--bg);
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
/* item detail */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal.active {
  display: flex;
}

.modal .modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 70%;
  animation: animateModal 1s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 18rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  color: #010101;
  font-weight: 200;
  line-height: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 90%;
}

.modal-content .product-stars {
  margin-top: 0.5rem;
}

.modal-content .product-price {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  align-items: center;
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .about .row .conten {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2.4rem;
  }

  .about .row .content p {
    font-size: 1.4rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
    margin-left: 5.8rem;
  }

  #shopping-cart-btn .quantity-bedge {
    display: inline-block;
    padding: 1px 5px;
    font-size: 1rem;
    justify-items: center;
    text-align: center;
    right: -5px;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .navbar .navbar-extra a {
    padding: 0 0.5rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .conten {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .modal-content .product-price {
    font-size: 1.7rem;
  }

  .modal-content a {
    margin-top: 10rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
